*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  nav a {
    font-weight: bold;
    color: #2c3e50;
    padding: 10px;
    justify-content: end;

  }
  nav a.router-link-exact-active {
    color: #42b983;
  }
/* Carousel styling */
/* #introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://i.ibb.co/tqxHNrQ/Screenshot-2024-03-13-102408.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */


@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

